################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LuckBankSim/v16/ipch/AutoPCH/c7e6ae9186072f97
/.vs/LuckBankSim/v16/ipch/AutoPCH
*.opendb
*.db
*.suo
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/
x64/
/LuckBankSim/Debug/
/LuckBankSim/x64/


